body {
  margin: 0;
  padding: 0;
  }
* {
    margin: 0;
    padding: 0;
  }
  .container{
/*     display: flex;
 */ 
    margin: 2rem 20%;
    box-sizing:  border-box;}

main{
  padding-top:2rem;
  border-top: 20px;
  border-image: url(../images/menu-line.png);
}
/* below two element codes are for the check box line through function */
input[type=checkbox] + label {
  color: rgb(0, 0, 0);
  font-style: italic;
} 
input[type=checkbox]:checked + label {
  color: rgb(0, 0, 0);
  font-style: normal;
  text-decoration: line-through
} 


li.ingredient{
  padding: 0.4rem;
  font-size: 1.2rem;


}
img.chocopizza{
  align-content: center;
  width: 100%;
  padding-top: 3rem;
}
p{
  box-sizing: border-box;
  padding:1rem;
  text-indent: 3rem;

  padding: 1rem 3rem;
}

header img{
  float:left
}

h1{
  font-size: xx-large;
}
 header{
/* box-sizing:  border-box;
position: absolute; */
display: flex;
justify-content: space-between;
/* flex:auto;
 */
}


div.icons ul{
  justify-content: normal;
  display: flex;
  flex-direction:row;
  justify-content: flex-end;
}
ul.ingredient-list{
  box-sizing: border-box;
  background-image: url('../images/list-bg.png');
  height: 305px;
  max-width: 905px;
  background-repeat: no-repeat;
  padding: 3rem;
  position: relative;
  display: block;
  column-count: 2;
  column-gap: 20px;
}


.mainh2{
  font-size: 2rem;
  font-weight: bold;
  font-family: sans-serif;
}

#borderimg{
  background-image: url(../images/hr-img.png);
  background-repeat: repeat-x;
  height: 15px;
}
