
ul.ingredient-list{
  box-sizing: border-box;
  background-image: url('../images/list-bg.png');
  height: 305px;
  max-width: 905px;
  background-repeat: no-repeat;
  padding: 3rem;
  position: relative;
  display: block;
}


/* below two element codes are for the check box line through function */
input[type=checkbox] + label {
  color: rgb(0, 0, 0);
  font-style: italic;
} 
input[type=checkbox]:checked + label {
  color: rgb(0, 0, 0);
  font-style: normal;
  text-decoration: line-through
} 
body.container{
    display: flex;
    position: relative;
    width: 60%;
    margin: 2rem 3rem;
    box-sizing:  border-box;
    
}
li.ingredient{
  padding: 0.3rem;

}
img.chocopizza{
  margin: 1rem;
  align-content: center;
}
p{
  padding:1rem;
  margin: 0 3rem;
}

/* header img{
  float:left
} */

h1{
  font-size: xx-large;
}

/* header{
  display: flex;
  justify-content:flex-start;
  box-sizing: border-box;
} */

header div ul{
  justify-content: space-between;
  display: flex;
  flex-direction:row;
  justify-content: flex-end;
}
